<form [formGroup]="createForm" (ngSubmit)="createUser()" class="form">
  <div>
    <label> Username: </label>
    <input type="text" formControlName="username" class="form-control mb-1" placeholder="Username">
    <!-- <small class="alert alert-danger" *ngIf="createForm.get('username').hasError('required') && createForm.get('username').touched">Username is required</small> -->
  </div>
  <div>
    <label> First Name: </label>
    <input type="text" formControlName="first_name" class="form-control mb-1" placeholder="First name">
    <!-- <small class="alert alert-danger" *ngIf="createForm.get('firstname').hasError('required') && createForm.get('firstname').touched">First Name is required</small> -->
  </div>
  <div>
    <label> Last Name: </label>
    <input type="text" formControlName="last_name" class="form-control" placeholder="Last name">
    <!-- <small class="alert alert-danger" *ngIf="createForm.get('lastname').hasError('required') && createForm.get('lastname').touched">Last name is required</small>
    <small class="alert alert-danger" *ngIf="createForm.get('lastname').hasError('minlength') && createForm.get('lastname').touched">Last must have 3 letters</small> -->
  </div>
  <div>
    <label> Address: </label>
    <input type="text" formControlName="address" class="form-control" placeholder="Address">
  </div>
  <div>
    <label> City: </label>
    <input type="text" formControlName="city" class="form-control" placeholder="City">
  </div>
  <div>
    <label> BirthDate: </label>
    <input type="date" formControlName="birth_date" class="form-control" placeholder="BirthDate">
  </div>
  <div>
    <label for="diabetes_type"> Diabetes Type: </label>
    <select id="diabetes_type" name="diabetes_type" formControlName="diabetes_type">
      <option value="Type 1">Type 1</option>
      <option value="Type 2">Type 2</option>
      <option value="Gestational">Gestational</option>
    </select>
  </div>

  <div class="buttons">
    <button [disabled]="createForm.invalid" class="btn btn-primary mt-3">Create a Patient</button>
    <button type="reset" (click)="resetForm()" class="btn btn-primary mt-3">Clear</button>
  </div>

</form>

<pre>{{ response | json }} </pre>
