<!-- <h2>Patient List</h2>

<p> Page Number : {{ unames.page }}</p>
<p> Tolal Number of Users : {{ unames.total }}</p>
<app-user [uname] = "userName" *ngFor="let userName of unames.data"></app-user> -->

<!-- <pre> {{unames | json}} </pre> -->

<p  *ngFor="let userName of unames" > {{userName | json}}</p>

<!-- <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="unames.avatar" class="card-img-top" alt="User Image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Patient : {{ unames.address}} </h5>
        <p class="card-text"> ..... </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div> -->



<!-- <pre> {{unames| json}} </pre> -->



